*{ 
    box-sizing: border-box;
}
:root {
    --hue-neutral: 3000;
    --hue-wrong: 10;
    --hue-correct:145;
    
}
body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 5%);
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.5),rgba(0, 0, 0, 0.9)), url(../img/company-overview.jpg);
    background-size: cover;
    --hue: var(--hue-neutral);
}
body.correct{
    --hue: var(--hue-correct);
}
body.wrong{
    --hue: var(--hue-wrong);
}
#Question{
    color: white;

}
.container{
    width: 800px;
    max-width: 80%;
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.5),rgba(0, 0, 0, 0.9)), url(../img/company-overview.jpg);
    border-radius: 25px;
    padding: 20px;
    font-size: 50px;
    box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
    transition: 1s all;
    
}
.row{
    text-align: center;
    padding-top: -20px;
}
.hide{
    display: grid;
    width: 100%;
    outline: none;
    
}
.up{
position: absolute;
top: 190px;
}
.hello{
padding: 7px;
font-weight: bold;
font-size: 20px;
border-radius: 5px;
}
.grid{
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 98%);
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    transition: 1s all;
    margin: 2px;
    padding: 7px;
    border-radius: 10px;
    outline: none;
}
.grid:hover{
    border-color: #091E05;
}
.grid.correct{
    --hue: var(--hue-correct);
}
.grid.wrong{
    --hue: var(--hue-wrong);

}

.controls .start{
    border-radius: 10px;
    padding: 7px;
    background-color:white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    transition: 1s all;
    display: grid;
    width: 20%;
    font-style: normal;
    color: black;
    border: none;
    margin-top: 10px;
}
.controls .next{
    border-radius: 10px;
    padding: 7px;
    background-color:white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    transition: 1s all;
    display: grid;
    width: 20%;
    font-style: normal;
    color: black;
    border: none;
    margin-top: 5px;
    position: relative;
    left: 610px;
    bottom:42px;
}
@media screen and (max-width:480px){
    .container{
        width: 800px;
        max-width: 80%;
        background:linear-gradient(to bottom,rgba(0, 0, 0,0.5),rgba(0, 0, 0, 0.9)), url(../img/company-overview.jpg);
        background-size: cover;
        border-radius: 5px;
        margin-top: 100px;
        padding: 20px;
        font-size: 50px;
        box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
        animation-duration: 5s;
        animation-name: slidein;
        }
@keyframes slidein {
    from{margin-left: 100px;
        width: 300%};
        to {
            margin-left: 0%;
            width: 100%;
        }
    
}
  #Question{
            color: white;
           font-size: 23px;
           font-weight: bold;
        }
        .grid{
            --hue: var(--hue-neutral);
            background-color: hsl(var(--hue), 100%, 98%);
            cursor: pointer;
            font-size: 15px;
            transition: 1s all;
            margin: 3px;
            padding: 4px;
            border-radius: 10px;
            outline: none;
        }
        .controls .start{
            border-radius: 3px;
            padding: 4px;
            background-color:white;
            cursor: pointer;
            font-size: 15px;
            transition: 1s all;
            display: grid;
            width: 70px;
            color: black;
            border: none;
            margin-top: 10px;
        }
        .controls .next{
            border-radius: 3px;
            padding: 4px;
            background-color:white;
            cursor: pointer;
            font-size: 15px;
            transition: 1s all;
            display: grid;
            width: 70px;
            color: black;
            border: none;
            margin-top: 10px;
            position: relative;
            left: 70%;
            
        
            
    
        }

}
